<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>


<h1>Armor Sets Index</h1>

<p> These could all be dropdowns. Would it be easier to add armor pieces into the system in this page, or should i have a separate page for adding pieces. My instinct tells me that using a separate page to add pieces to the dropdowns like meals in the mongoose flights lab? </p>

<ul>
  <li>Name/Title Head Body Arms Waist Legs  
    <a href="">DETAILS</a>
  </li>
  <li>Name/Title Head Body Arms Waist Legs  
    <a href="">DETAILS</a></li>
  <li>Name/Title Head Body Arms Waist Legs  <a href="">DETAILS</a>
  </li>
  <li>Name/Title Head Body Arms Waist Legs  
    <a href="">DETAILS</a>
  </li>

</ul>

<% if (armorSets.Length){ %> 
  <h1>hello</h1>
<% }else{ %>
  <h1>no sets added yet</h1>
<% } %> 





<h1><a href="/armors/new"><button>Click here to build a new set</button></a></h1>
<%- include('../partials/footer') %>