html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  max-height: 10vh;
}

nav {
  background-color: rgb(134, 37, 37);
  font-size: 1.6rem;
  display: flex;
  justify-content: left;

}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}


li{

  list-style: none;
  text-align: left;
}

a{
  text-decoration: none;
  color: rgb(66, 197, 66);
  background: rgba(0, 0, 0, 0.4);
  border-radius:6px;
  border: rgb(224, 30, 30) solid 2px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

a:hover{
  background: yellow;
  color: aqua;
}