<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>


<h1>ALL THE Weapons</h1>


<section>
  <% //if(user){ %>
    <h2>add a weapon</h2>
<form action="/weapons" method="POST">
  <label >
      Weapon Name:
      <input type="text" name="name" id="new-weapon-input">
  </label>
<button type="submit">Add Weapon</button>
</form>

    <% //} %>  
</section>

<% if(weapons.length){   %> 
<main>
  <h1>Weapons List</h1>
  <table>
    <thead>
      <tr>
        <th>Weapon Name</th>
      </tr>
    </thead>
    <tbody>
      <% weapons.forEach( weapon => { %>
        <tr>
          <td><%= weapon.name %> </td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
  <% }else{ %>
      <h2>no weapons yet</h2>
  <% } %> 
</main>




<%- include('../partials/footer') %>